nav {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  margin-right: 20px;
}

.nav-title {
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 18px;
}

nav a:hover {
  background-color: #575757;
  border-radius: 5px;
}
